<div class="footer">
	<div class="container">
		<div class="footer-logo-wrapper">
			<div class="footer__img"></div>
			<h2 class="footer__header2">QGrid</h2>
		<p>Copyright © <%- date(Date.now(), 'YYYY') %> Released under the <a href="https://opensource.org/licenses/MIT"
				target="_blank">MIT License</a>
		</p>
		</div>

		<div class="social">
			<a class="social__item" href="">
				 <img src="img/socials/social-tumblr.svg" alt="">
			</a>
			<a class="social__item" href="">
				 <img src="img/socials/social-twitter.svg" alt="">
			</a>
			<a class="social__item" href="">
				 <img src="img/socials/social-vimeo.svg" alt="">
			</a>
	  </div>
	</div>
<!-- 	todo: add contact and social links social -->
</div>
