<div class="footer">
	<div class="container">
		<div class="footer-logo-wrapper">
			<div class="footer__img"></div>
			<h2>QGrid</h2>
			<p>Copyright © <%- date(Date.now(), 'YYYY') %> Released under the <a href="https://opensource.org/licenses/MIT"
					target="_blank">MIT License</a>
			</p>
		</div>

		<div class="footer__right">
			<div class="social">
				<a class="social__item" href="">
					<img src="../assets/images/facebook-icon.svg" alt="Facebook" width="20" height="20">
				</a>
				<a class="social__item" href="">
					<img src="../assets/images/youtube-icon.svg" alt="Youtube" width="28" height="20">
				</a>
				<a class="social__item" href="">
					<img src="../assets/images/telegram-icon.svg" alt="Telegram" width="20" height="20">
				</a>
			</div>
			<a class="footer__link" href="#">+7 812 123 12 34</a>
			<a class="footer__link mail" href="#">qgrid@gmail.com</a>
	  	</div>
	</div>
<!-- 	todo: add contact and social links social -->
</div>
