<section class="footer">
	<div class="container">
		<div class="footer__img">
		</div>
			<h2 class="footer__header2">QGrid</h2>
		<p>Copyright © <%- date(Date.now(), 'YYYY') %> Released under the <a href="https://opensource.org/licenses/MIT"
				target="_blank">MIT License</a>
		</p>
	</div>
</section>
