<% var isIndex = page.path === 'index.html' %>

<% if (isIndex) { %>
<span class="logo"></span>
<% } else { %>
<button class="nav-trigger" id="nav-trigger"></button>
<a href="<%- url_for('/') %>" class="logo"></a>
<% } %>

<a href="https://github.com/qgrid/ng" class="github"></a>
