<% var isIndex = page.path === 'index.html' %>

<button class="nav-trigger"></button>
<% if (isIndex) { %>
<span class="logo"></span>
<% } else { %>
<a href="<%- url_for('/') %>" class="logo"></a>
<input id="search" class="search"/>
<% } %>
