<% var isIndex = page.path === 'index.html' %>
<section class="header">
	<nav class="nav">
		<a class="qgrid-logo" href="<%- url_for('/') %>"></a>
		<% if (!isIndex) { %>
			<span class="qgrid-search">
				<input id="search" placeholder="Search" type="search" class="search" data-stop-propagation/>
			</span>
		<% } %>
		<a target="_blank" href="https://qgrid.github.io/ng2" class="qgrid-examples"></a>
		<ul class="frameworks">
			<li class="ready">
				<a href="<%- url_for('guide/highlights.html') %>" target="_blank">Documentation</a>
			</li>
			<li class="ready">
				<a target="_blank" href="https://qgrid.github.io/ng2" class="qgrid-examples">Examples</a>
			</li>
			<li class="ready">
				<a href="<%- url_for('https://github.com/qgrid/qgrid.github.io.git') %>">GitHub</a>
			</li>
		</ul>
		<a class="button" href="#">Become maintainer</a>
	</nav>
	<% if (isIndex) { %>
		<h1><span class="marked">Fast and flexible</span> data table solution</h1>
	<% } %>
</section>