<% var isIndex = page.path === 'index.html' %>

<% if (isIndex) { %>
<span class="logo"></span>
<% } else { %>
<button class="nav-trigger" id="nav-trigger"></button>
<a href="<%- url_for('/') %>" class="logo"></a>
<button class="search-trigger" id="search-trigger"></button>
<input class="search" placeholder="Search"/>
<input id="search">
<% } %>

<a href="https://github.com/qgrid/ng" class="github"></a>
