<nav>
    <ul>
        <% var groupOrder = ['Getting started', 'API', 'Features'];
        var groupped = site.pages.reduce(function (groups, p) {
            var key = p.group;
            (groups[key] = groups[key] || []).push(p);
            return groups;
        }, {});

        for (var g = 0; g < groupOrder.length; g++) {
            var key = groupOrder[g];

        if (groupped.hasOwnProperty(key)){ %>
        <li><h3><%- key %></h3></li>
        <% var sorted = groupped[key].sort(function (a, b) {
            return a.order > b.order;
        });

        for (var i = 0; i < sorted.length; i++) {
            var p = groupped[key][i]; %>
        <li class="<%- page.title === p.title ? 'current' : '' %> ">
            <a href="<%- url_for(p.path) %>"><%- p.title %></a>
        </li>
        <% }}} %>

    </ul>
</nav>
