<nav>
    <ul>
        <% site.pages.each(function (p) { %>
        <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
        <% if (p.group === 'Getting started') { %>
        <li><h3><%- p.group %></h3></li>
        <li>
            <a href="<%- url_for(p.path) %>"
               class="<%- page.title === p.title ? ' current' : '' %> "><%- p.title %></a>
        </li>
        <% } %>

        <% }) %>
    </ul>
</nav>
