<div class="get-started">
    <h1>qgrid</h1>
    <h3>Fast and flexible data solution</h3>
    <a href="<%- url_for('guide/introduction.html') %>">Get Started</a>
</div>
<div class="example">
    HERE WILL BE AN EXAMPLE
</div>
<div class="feature-list">
    <div class="feature">
        Considered Styles
    </div>
    <div class="feature">
        Fully Customizable
    </div>
    <div class="feature">
        Clear Javascript
    </div>
    <div class="feature">
        Virtualization everywhere
    </div>
</div>
<div class="go-to">
    <a href="<%- url_for('guide/install.html') %>">How to Install?</a>
    <a href="<%- url_for('guide/introduction.html') %>">Feauters and Examples</a>
    <a href="<%- url_for('api/introduction.html') %>">API</a>
</div>
