.preview,
.editor {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 2em 0;
	padding: 0;
	background: #f5f5f5;
	overflow: hidden;
	display: block;
	iframe {
		border: none;
		width: 100%;
		height: 100%;
	}
}

.preview {
    iframe {
        height: 740px;
		margin-top: -38px;
    }
}

.editor{
	iframe {
        height: 660px;
    }
}



