.editor {
	width: 100%;
    margin:  0;
    padding: 0;
    overflow: hidden;
    height: $editor-height;
    position: relative;
    border-radius: 4px;

    @media screen and (max-width: 1080px) {
        width: calc(100% - 80px);
    }

    @media screen and (max-width: 768px) {
		max-width: 100%;
		flex: 0 0 100%;
	}

    &-frame {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        overflow: hidden;

        iframe {
            margin-top: -45px;
            border: none;
            width: 100%;
            height: calc(100% + 45px);
        }
    }

    .source-links {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40px;
        background: $color-white;
        text-align: center;
        font-size: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

/*         a {
            color: #fff;
            background: #4288fd;
            position: relative;
            display: inline-block;
            margin: auto 2px;
            border-radius: 0 3px 3px 0;
            text-decoration: none;
            transition: background-color 0.05s ease;
            padding: 0px 8px;
            min-height: 30px;
            line-height: 30px;
            font-size: 13px;
            margin: 5px 0;

            &:first-child {
                border-radius: 3px 0 0 3px;
            }

            &:hover {
                background: #5896ff;
            }
        } */
    }
}
