@import "variables";

.icon {
  display: inline-block;
  vertical-align: middle;
  margin: 17px 0 17px 17px;
  outline: none;
  border: 0 transparent;
  cursor: pointer;
  color: white;
}

@mixin generate-icons($class, $url, $height, $width) {
  .#{$class} {
    @extend .icon;
    background: url($url) 50% 50% no-repeat transparent;
    height: $height;
    width: $width;
  }
}

@include generate-icons('search', $search-url, $search-height, $search-width);
@include generate-icons('logo', $logo-url, $logo-height, $logo-width);
@include generate-icons('nav-trigger', $hamburger-url, $hamburger-height, $hamburger-width);

