@import "variables";
@import "iconfont";

$iconMap: ('search-glass':'icon-search',
        'logo':'icon-qgrid-logo-simple',
        'angular': 'icon-angular',
        'angular-js': 'icon-angularjs',
        'react': 'icon-react',
        'vue': 'icon-vue',
        'backbone':'icon-backbone',
        'github': 'icon-github',
        'nav-trigger': 'icon-hamburger',
        'search-trigger': 'icon-search');

%icon {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  border: 0 transparent;
  color: white;
  text-decoration: none;
  background-color: transparent;
}

@mixin generate-icons($map) {
  @each $class, $icon-class in $map {
    .#{$class} {
      @extend %icon, .icon, .#{$icon-class};
    }
  }
}

.qgrid-logo {
  @extend %icon;
  background: url($qgrid-logo-url) 50% 50% no-repeat;
  width: 198px;
  height: 136px;
  margin: 0;
}

@include generate-icons($iconMap);


