@import "variables";
@import "icon";
@import "nav";
@import "layout";
@import "media";

.index {
  grid-template-areas: "header" "content" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: $header-height auto auto;
  font-family: $font-serif;

  #overlay {
    z-index: 11;
  }
  #nav {
    z-index: 12;
    display: none;
    padding-top: 0;
    .nav-header {
      display: block;
    }
  }
  .nav-trigger {
    display: none;
  }
  .search {
    display: none;
  }

  .get-started {
    grid-area: get-started;
    background-color: $color-sidebar-background;
    text-align: center;
    color: $color-top-text;
    padding: 40px 0 0 0;
    .qgrid-logo {
      margin-bottom: 63px;
    }
    h1, h2 {
      margin: 0;
      font-weight: normal;
    }
    h1 {
      font-size: 28px;
      line-height: 28px;
    }
    h2 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    .frameworks {
      margin-top: 67px;
      margin-bottom: 120px;
    }
  }

  .example {
    width: 100%;
    .wrapper {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin: -50px auto auto auto;
      min-width: 390px;
    }
  }

  .go-to {
    text-align: center;
    font-size: 0;
    a {
      @extend %accent-button;
    }
  }

  footer .wrapper {
    margin: 100px auto;
    text-align: center;
    font: {
      size: 18px;
      weight: normal;
    }
  }
}
