@import "variables";
@import "icon";
@import "nav";
@import "layout";
@import "media";

.index {
  grid-template-areas: "header" "content" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: $header-height auto auto;

  #overlay {
    z-index: 11;
  }
  #nav {
    z-index: 12;
    display: none;
    padding-top: 0;
    .nav-header {
      display: block;
    }
  }
  .nav-trigger {
    display: none;
  }
  .search {
    display: none;
  }

  .get-started {
    grid-area: get-started;
    background-color: $color-sidebar-background;
    text-align: center;
    color: $color-top-text;
    padding: 50px 0;
    h1, h2 {
      margin: 0;
      font-family: "Roboto Slab", serif;
    }
    h1 {
      font: {
        size: 5rem;
        weight: bold;
      }
      line-height: 95px;
      margin-bottom: 40px;
    }
    h2 {
      font: {
        size: 18px;
        weight: normal;
      }
      line-height: 24px;
      margin-bottom: 55px;
    }
  }

  .example {
    min-width: 390px;
    width: 70%;
    position: relative;
    top: -40px;
    margin: auto;
  }

  //.framework {
  //  text-decoration: none;
  //  display: inline-block;
  //  vertical-align: middle;
  //  height: 63px;
  //  width: 60px;
  //  object {
  //    pointer-events: none;
  //    height: 63px;
  //    width: 60px;
  //    svg {
  //      fill: white;
  //      fill-opacity: 0.8;
  //    }
  //  }
  //}

}
