@import "layout";
@import "editor";
@import "nav";

.index {
	font-family: $font-serif;

	h1,
	h2 {
		font-weight: normal;
	}

	h1 {
		@include fontStylingSet(5.8em, 1.2em, 700, inherit);
		margin: 40px 0 0 0;

		@media screen and (max-width: 1080px) {
			font-size: 4.8em;
		}

		@media screen and (max-width: 768px) {
			font-size: 3.8em;
		}

		.marked {
			display: block;
			background: linear-gradient(180deg, #2F80ED 54%, #11DED2 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: #2F80ED;
		}
	}

	h2 {
		@include fontStylingSet(36px, inherit, 500, inherit);
		text-align: center;
		margin: 0 0 52px 0;

		@media screen and (max-width: 768px) {
			font-size: 32px;
			margin: 0 0 40px 0;
		}
	}

	h3 {
		@include fontStylingSet(20px, 26px, 400, $color-dark-bg);
		margin: 8px 0 8px 0;
	}

	h4 {
		font-size: 36px;

		sup {
			@include fontStylingSet(18px, 18px, 400, $color-gray);
		}

		sub {
			@include fontStylingSet(14px, 18px, 400, $color-gray);
			position: relative;
			top: -8px;
		}
	}

	a {
		transition: $transition;
	}

	.header {
		background-color: $color-dark-bg;
		text-align: center;
		color: $color-white;
		padding-top: 27px;
		padding-bottom: calc((#{$editor-height} / 2) + 72px);    // 72px is margin for h1
		margin-bottom: 0;

		h1 {
			margin: 85px 0 0 0;
		}
	
		.highlight {
			display: block;
			color: $accent-color;
		}

		.nav {
			background-color: $color-dark-bg;
			width: 100%;
			max-width: 1024px;
			margin-left: auto;
			margin-right: auto;
			border-bottom: 0;

			.qgrid-logo {
				width: 46px;
				height: 32px;
				margin-top: -14px;
			}

			.frameworks li:not(:last-child) {
				margin-right: 40px;
			}
		}
	}

	.example {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: calc((#{$editor-height} / 2) * -1);
	}
}

.news {
	background-color: $color-background;

	.container-flex {
		margin-bottom: 26px;
	}

	.news-all {
		display: block;
		text-align: center;
		position: relative;

		a {
			@include fontStylingSet(18px, 24px, inherit, $color-accent);
			transition: opacity .15s ease-in-out;

			&:hover {
				opacity: 0.8;
			}

			&::after {
				@include iconStylingSet(19px, 8px, "../assets/images/link-arrow.svg");
				content: '';
				background-size: contain;
				background-repeat: no-repeat;
				display: inline-block;
				margin-left: 10px;
			}
		}
	}

	&-block {
		width: 320px;
		max-height: 386px;
		box-sizing: border-box;

		@media screen and (max-width: 1080px) {
			margin: 0 40px 40px 40px;
		}

		a {
			cursor: pointer;

			&:hover h3 {
				color: $color-accent;
			}
		}

		&__img {
			width: 100%;
			margin-bottom: 16px;
			border-radius: 4px;
			overflow: hidden;

			img {
				border-radius: 4px;			
			}
		}

		&-text {
			&__date {
				font-family: $font-sans;
				font-size: 1.1em;
				margin: 0;
				color: $color-gray;
			}

			&__descr {
				margin: 0;
				font-size: 16px;
			}
		}
	}

	&-button {
		margin-top: 40px;
		text-align: center;

		&__btn {
			@extend .button;
			margin-top: 40px;
			width: 144px;
		}
	}
}

.pricing {
	background-color: $color-background;
	margin-bottom: 80px;

	h4 {
		margin: 40px 0 27px 0;
		font-weight: normal;
	}

	&-wrapper {
		@include flexBetweenSet;
	}

	&-heading {
		text-align: center;
		padding-bottom: 15px;
	}

	&-secondary {
		border: 1px solid $color-border;

		@media screen and (max-width: 1080px) {
			order: 3;
		}
	}

	&-primary {
		border: 1px solid $color-accent;
	}

	.flex-item {
		@include flexBetweenSet;
		flex-direction: column;
		text-align: center;
		padding: 32px 24px 24px 24px;
		height: 382px;
		box-sizing: border-box;
		border-radius: 4px;

		@media screen and (max-width: 768px) {
			height: 345px;
		}
	}

	&__rate {
		font-size: 24px;
	}

	&__text {
		font-size: 16px;
		text-align: left;

		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}

	.button {
		@extend .button;
		padding: 10px 20px;
	}
}

.container-flex {
	@include flexBetweenSet;

	@media screen and (max-width: 1080px) {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

.news,
.products  {
	margin-bottom: 158px;

	@media screen and (max-width: 1080px) {
		margin-bottom: 100px;
	}
}

.products a.flex-item {
	background-color: $color-bluish;
	padding: 88px 24px 24px 32px;
	box-sizing: border-box;
	position: relative;
	color: $color-dark-bg;
	border: 1px solid $color-transparent;

	&:hover {
		border: 1px solid $color-accent;
		opacity: 1;
	}

	span {
		@include fontStylingSet(18px, 24px, 500, inherit);
	}

	p {
		font-size: 16px;
		margin: 8px 0 0 0;
	}

	&::before {
		content: '';
		display: block;
		width: 36px;
		height: 42px;
		position: absolute;
		top: 24px;
	}

	&.docs::before {
		@include iconStylingSet(36px, 42px, "../assets/images/documents-bluish.svg");
	}

	&.examp::before {
		@include iconStylingSet(58px, 38px, "../assets/images/examples-bluish.svg");
	}

	&.github::before {
		@include iconStylingSet(48px, 48px, "../assets/images/github-bluish.svg");
	}
	
	&::after {
		@include iconStylingSet(10px, 10px, "../assets/images/arrow-icon.svg");
		content: '';
		position: absolute;
		right: 31px;
		bottom: 24px;
		display: block;
		background-size: contain;
	}
}

.features .flex-item {
	@include widthSet(216px);
	box-sizing: border-box;

	@media screen and (max-width: 1080px) {
		@include widthSet(50%);
		padding: 0 40px;
		margin-bottom: 30px;
	}

	&:not(:last-child) {
		margin-right: 40px;

		@media screen and (max-width: 1080px) {
			margin-right: 0;
		}
	}

	&::before {
		content: '';
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		margin-bottom: 22px;
	}

	&.flexible::before {
		@include iconStylingSet(90px, 90px, "../assets/images/flexible-icon.svg");
	}

	&.customizable::before {
		@include iconStylingSet(90px, 90px, "../assets/images/castomizable-icon.svg");
	}

	&.typescript::before {
		@include iconStylingSet(90px, 90px, "../assets/images/typescript-icon.svg");
	}

	&.perform::before {
		@include iconStylingSet(90px, 90px, "../assets/images/perfomance-icon.svg");
	}

	span {
		font-weight: 500;
		font-size: 1.2em;
		margin-bottom: 16px;
	}

	p {
		font-size: 1.1em;
	}
}

.footer {
	color: $color-footer-text;
	background-color: $color-dark-bg;
	padding: 40px 0;

	a:hover {
		color: rgba($color-white, 0.8);
	}

	.container {
		@include flexBetweenSet;
	}

	.social__item {
		transition: opacity .15s ease-in-out;

		&:hover {
			opacity: 0.8;
		}

		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	.social {
		display: flex;
		margin-bottom: 17px;
	}

	.footer__link {
		letter-spacing: 1.4px;

		&.mail {
			position: relative;
			letter-spacing: 0.6px;

			&::after {
				@include decorationUnderlineSet($color-white);
			}
		}
		
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	a {
		color: $color-white;
		text-decoration: none;
		font-weight: 400;
	}

	p {
		@include fontStylingSet(14px, 16px, 400, inherit);
		margin: 14px 0 0 0;
	}

	h2 {
		@include fontStylingSet(18px, 24px, 400, inherit);
		margin-bottom: 0;
	}

	.footer__right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.footer-logo-wrapper {
		width: 330px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__img {
		background: url("../assets/images/qgrid-logo.svg") 50% 50% no-repeat;
		width: 81px;
		height: 52px;
		margin: 0;
		margin-right: 21px;
		background-size: contain;
	}
}

.products .flex-item,
.pricing .flex-item {
	@include widthSet(320px);

	@media screen and (max-width: 1080px) {
		margin: 0 40px 40px 40px;
	}

	@media screen and (max-width: 768px) {
		max-width: calc(100% - 80px);
		flex: 0 0 100%;
		margin: 0 40px 20px 40px;
	}
}
