@import "variables";
@import "mixins";

@include scrollbars(.5em, $color-scrollbar-thumb);

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  font-size: $font-size;
}

body {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: $header-height auto auto;
  background: $color-background;
}

header {
  z-index: 1;
  grid-area: header;
  color: $color-top-text;
  background: $color-top-background;
  position: fixed;
  height: $header-height;
  width: 100vw;
  font-family: $font-serif;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.25);
}

main {
  display: grid;
  grid-template-areas: "get-started" "example" "feature-list" "go-to";
  grid-template-rows: 500px 400px auto auto;
  grid-area: content;
  background: $color-background;
  color: $color-text;
  height: 2000px;

  .example {
    grid-area: example;
  }
  .feature-list {
    grid-area: feature-list;
    .feature {
      height: 200px;
      font-size: 2rem;
    }
  }
  .go-to {
    grid-area: go-to;
  }
}

footer {
  grid-area: footer;
  color: $color-footer-text;
  background: $color-footer-background;
  font-family: $font-serif;
  height: $footer-height;
}

#overlay {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  background-color: rgba(10, 10, 10, 0.75);
  cursor: default;
}

%accent-button {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: $color-go-to-button;
  color: white;
  line-height: 24px;
  font-size: 18px;
  font-weight: normal;
  margin-right: 34px;
  padding: 18px;
  width: 248px;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.12), 2px 1px 3px rgba(0, 0, 0, 0.24);
  &:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16), 3px 3px 6px rgba(0, 0, 0, 0.23);
  }
  &:last-child {
    margin-right: 0;
  }
}

