	@import "variables";
.page-wrapper {
	h1:first-child {
		font-family: "Roboto Slab", serif;
		font-weight: normal;
		padding-bottom: 30px;
		margin-top: 80px;
		font-size: 80px;
	}
	h2 {
		font-family: $font-serif;
		font-weight: normal;
		font-size: 2.5em;
		padding: 0.5em 0;
	}
	h3 {
		@extend h2;
		font-size: 1.5em;
		font-weight: bold;
	}
	h4 {
		@extend h2;
		font-size: 1.2em;
		font-weight: bold;
	}
	h5 {
		@extend h2;
		font-size: 1em;
		font-weight: bold;
	}
	p {
		font-size: 1em;
	}
	table {
		margin: 1em 0;
		display: block;
		overflow-x: auto;
		td:last-child {
			width: 100%;
		}

		td.comment{
			min-width: 200px;
		}
	}

	pre.line-numbers {
		border: 1px solid rgba(0, 0, 0, 0.1);
		code {
			background: transparent;
			padding: 0em;
			line-height: 1.4em;
		}
	}
	pre[class*="language-"]::selection,
	pre[class*="language-"] ::selection,
	code[class*="language-"]::selection,
	code[class*="language-"] ::selection {
		background: $color-code-selection;
	}
	a {
		text-decoration: none;
		color: #0078cf
	}
	blockquote {
		padding: 1em 2em;
		color: #6a737d;
		margin: 1em 0;
		background: #e7f1ff;
		font-style: italic;
	}
	code {
		padding: 0 0.25em;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	ul {
		list-style: none;
		> li {
			position: relative;
			line-height: 1.4em;
			&:before {
				content: "";
				position: absolute;
				top: 0.6em;
				left: -13px;
				width: 8px;
				height: 1px;
				background-color: #353535;
			}
		}
	}
}
