@media screen and (max-width: 850px) {
  .pages {
    grid-template-areas: "header" "content" "footer";
    grid-template-columns: 1fr;
  }
  #overlay {
    display: block;
  }
  #nav {
    padding-top: 0;
    z-index: 12;
    .nav-header {
      display: block;
    }
  }
  .pages {
    .nav-trigger {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 851px) {
  .pages #nav.hide {
    display: block !important;
  }
}
