@media screen and (max-width: 850px) {
  .pages {
    grid-template-areas: "header" "content" "footer";
    grid-template-columns: 1fr;
    #overlay {
      display: block;
    }
    .nav-trigger {
      display: inline-block;
    }
  }

  header {
    .search,
    .search-trigger {
      display: none !important;
    }
  }

  #nav {
    padding-top: 0;
    z-index: 12;
    .nav-header {
      display: block;
    }
  }
}

@media screen and (min-width: 851px) {
  .pages {
    #nav {
      display: block !important;
    }
    #overlay {
      display: none !important;
    }
    .nav-trigger {
      display: none;
    }
  }
}
