@import "variables";

#nav {
  grid-area: nav;
  color: $color-sidebar-text;
  background: $color-sidebar-background;
  position: fixed;
  height: 100vh;
  padding-top: $header-height;
  width: $nav-width;
  font-family: $font-serif;
  box-sizing: border-box;
  border-top: 1px solid $color-sidebar-background;
  //transition: 0.5s;
  .nav-header {
    height: 69px;
    border-bottom: 1px solid white;
    display: none;

    .search {
      width: calc(100% - 34px);
    }
  }
  nav {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-left: 20px;
    }
    ul {
      margin-left: 20px;
      li {
        list-style: none;
        font-size: 16px;
        line-height: 33px;
        a {
          color: $color-sidebar-text;
          text-decoration: none;
          opacity: 0.8;
          //transition: 0.3s;
          &:hover {
            opacity: 1
          }
        }
      }
    }
  }
}

