@import "layout";
@import "editor";
@import "table";
body {
	grid-template-areas: "header header" "nav content" "footer footer";
	grid-template-columns: $nav-width 1fr;
	grid-template-rows: $header-height 1fr auto;
	grid-gap: 16px;
}

header {
	display: none;
}

h2 {
	font-family: $font-serif;
	font-weight: normal;
	font-size: 2.5em;
	padding: 0.5em 0;
}

h3 {
	@extend h2;
	font-size: 1.5em;
	font-weight: bold;
}

h4 {
	@extend h2;
	font-size: 1.2em;
	font-weight: bold;
}

h5 {
	@extend h2;
	font-size: 1em;
	font-weight: bold;
}

p {
	font-size: 1em;
}

%placeholder {
	color: $whitescale-75;
}

.nav-trigger {
	@extend %header-icon;
	font-size: 18px;
	display: none;
}

[class$="-trigger"] {
	cursor: pointer;
}

.search {
	background-color: $color-top-background;
	border: {
		style: solid;
		color: $whitescale-75;
		width: 0 0 1px 0;
	}
	text-decoration: none;
	outline: none;
	color: white;
	display: none;
	vertical-align: middle;
	margin: 20px auto 25px 17px;
	padding: 5px;
	width: calc(#{$nav-width} - 120px);
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
	} //need to write them separately, not through comma
	//&::-webkit-input-placeholder {
	//  @extend %placeholder;
	//}
	//&::-moz-placeholder {
	//  @extend %placeholder;
	//}
	//&:-ms-input-placeholder {
	//  @extend %placeholder;
	//}
	//&:-moz-placeholder {
	//  @extend %placeholder;
	//}
	&::placeholder {
		@extend %placeholder;
	}
}

.search-trigger {
	@extend %header-icon;
	font-size: 24px;
	&.active {
		display: none;
		&+.search {
			display: inline-block;
		}
	}
}

.page-wrapper {
	margin: 0 30px;
	max-width: 1000px;
	table {
		margin: 1em 0;
	}
	pre.line-numbers {
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
		border: 0;
	}
}

.github-link {
	@extend .github;
	position: relative;
	color: blue;
	display: inline-block;
	font-size: 14px;
	margin: -90px 0 0 20px;
	padding: 7px 0 2px 7px;
	border-radius: 3px;
	white-space: nowrap;
	opacity: 0.5;
	border: 1px solid blue;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	&:hover {
		overflow: visible;
		width: auto;
		opacity: 1;
	}
	span {
		vertical-align: top;
		display: inline-block;
		margin: -1.5px 10px;
	}
}

.github-link2 {
	@extend .github-link;
	float: right;
	color: white;
	font-size: 12px;
	font-family: Roboto;
	position: relative;
	margin: -18px -19px 0 0;
	border-color: white;
	padding: 3px 0 0 3px;
	opacity: 0.75;
}

#overlay {
	display: none;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 10;
	background-color: rgba(10, 10, 10, 0.75);
	cursor: default;
}
