@import "layout";
@import "editor";
@import "table";
@import "nav";
@import "markdown";
@import "highlights";
body {
	display: flex;
}

main {
	background: $color-background;
	color: $color-text;
	margin-left: $nav-width;
	flex: 1;
}

header {
	display: none;
	position: fixed;
	z-index: 1;
	color: $color-top-text;
	background: $color-top-background;
	height: $header-height;
	width: 100vw;
	font-family: $font-serif;
}

.logo {
	font-size: 100px;
	margin: 80px 0 35px 80px;
}

.github {
	font-size: 26px;
	position: absolute;
	top: 22px;
	right: 20px;
}

%placeholder {
	color: $whitescale-75;
}

.nav-trigger {
	font-size: 18px;
	display: none;
	position: absolute;
	top: 27px;
	left: 20px;
}

[class$="-trigger"] {
	cursor: pointer;
}

.search {
	display: block;
	background-color: #444;
	border: {
		style: solid;
		color: $whitescale-75;
		width: 0 0 1px 0;
	}
	text-decoration: none;
	outline: none;
	color: white;
	margin: 20px auto 25px 17px;
	padding: 15px;
	width: 280px;
	&::placeholder {
		@extend %placeholder;
	}
}

.page-wrapper {
	margin: 0 30px 40px 30px;
	max-width: 1000px;
	overflow: hidden;
}

.github-link {
	@extend .github;
	position: relative;
	color: blue;
	display: inline-block;
	font-size: 14px;
	margin: -90px 0 0 20px;
	padding: 7px 0px 5px 7px;
	border-radius: 3px;
	white-space: nowrap;
	opacity: 0.5;
	border: 1px solid blue;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	&:hover {
		overflow: visible;
		width: auto;
		opacity: 1;
	}
	span {
		vertical-align: top;
		display: inline-block;
		margin: 0 5px;
	}
}

a.github-link2 {
	@extend .github-link;
	float: right;
	color: white;
	font-size: 12px;
	font-family: Roboto;
	position: relative;
	margin: -22px -19px 0 0;
	border-color: white;
	padding: 3px 3px 0 6px;
	opacity: 0.75;
}

#overlay {
	display: none;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 10;
	background-color: rgba(10, 10, 10, 0.75);
	cursor: default;
}
.highlight {
	background-color: #efdf00;
	margin-left: 0 !important;
}