table {
    border-spacing: 0;
    width: 100%;
    tr {
        td {
            p {
                &:first-child {
                    margin-top: 0;
                }
            }
            padding: 1em;
            text-align: left;
            vertical-align: top;
            code {
                background: #F5F5F5;
                padding: 0 0.25em;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }
        }
        &:nth-child(odd) {
            background: $color-table-odd-row;
        }
        &:nth-child(even) {
            background: $color-table-even-row;
        }
    }
    th {
        @extend td;
        color: #fff;
        font-family: $font-serif;
        font-weight: normal;
        background: $color-table-header;
    }
}