.editor {
    padding: 0.5em 0;
    >ul {
        list-style: none;
        margin-bottom: 38px;
        li {
            display: inline;
            &.active {
                font-weight: bold;
            }
        }
    }
    .tab-panel {
        height: 500px;
        display: none;
        &.active {
            display: block;
        }
    }
}