// colors
$color-text: #333;
$color-background: #fff;
$color-top-text: #fff;
$color-top-background: #2F80ED;
$color-sidebar-text: #fff;
$color-sidebar-background: #2F80ED;
$color-footer-text: #fff;
$color-footer-background: #1D2E45;

// sizes and dimensions
$nav-width: 300px;
$header-height: 70px;
$footer-height: 215px;

// fonts
$font-sans: "Roboto", Helvetica, Arial, sans-serif;
$font-serif: 'Roboto Slab', serif;
$font-mono: "Roboto Mono", monospace;

// Header
$logo-url: "../assets/logo.png";
$logo-height: 36px;
$logo-width: 56px;
