html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: 
        "header header" 
        "nav content" 
        "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

header {
    grid-area: header;
    background: red;
}

nav {
    grid-area: nav;
    background: blue;
}

main {
    grid-area: content;
    background: green;
}

footer {
    grid-area: footer;
    background: yellow;
}