$nav-width: 200px;
$header-height: 64px;
$footer-height: 200px;

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: 
        "header header" 
        "nav content" 
        "footer footer";
    grid-template-columns: $nav-width 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
}

header {
    grid-area: header;
    background: red;
    position: fixed;
    height: $header-height;
    width: 100vw;
}

nav {
    grid-area: nav;
    background: blue;
    position: fixed;
    height: 100vh;
    width: $nav-width;
    top: $header-height;
}

main {
    grid-area: content;
    background: green;
    height: 2000px;
    margin-top: $header-height;
}

footer {
    grid-area: footer;
    background: yellow;
    height: $footer-height;
    z-index: 1;
}